<!DOCTYPE <!DOCTYPE html>
<html>
	<title> {{ template_title }} </title>
</head>
<body>
<center>
<br>
<a href="book">Add Book</a><br>
<a href="author">Add Author</a><br>
<a href="publisher">Add Publisher</a><br>
<a href="member">Add Member</a><br>
<a href="category">Add Category</a><br>
<a href="has_category">Add Book Category</a><br>
<a href="compiled_by">Add Compiled by</a><br>
<a href="book_copy">Add Book Copy</a><br>
<a href="history">History</a>
<br>
<a href="view">View Database</a>
</center>
</body>
</html>